 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 857px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
  margin: 100px 780px 0 60px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
  margin: 20px 780px 0 60px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 19px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 508px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 60px;
}

.u-section-1 .u-group-elements-1 {
  min-height: 134px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 600px;
}

.u-section-1 .u-icon-1 {
  width: 35px;
  height: 35px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 3px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-group-elements-2 {
  min-height: 131px;
  margin-top: 55px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-icon-2 {
  width: 35px;
  height: 35px;
  margin: 0 565px 0 0;
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: 0;
}

.u-section-1 .u-text-7 {
  margin: 0;
}

.u-section-1 .u-text-8 {
  margin: 0;
}

.u-section-1 .u-group-elements-3 {
  min-height: 141px;
  margin-top: 48px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-icon-3 {
  width: 45px;
  height: 45px;
  margin: 0 555px 0 0;
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: 0;
}

.u-section-1 .u-text-10 {
  margin: 0;
}

.u-section-1 .u-text-11 {
  margin: 0;
}

.u-section-1 .u-image-1 {
  min-height: 500px;
  background-image: url("images/crosbyshane_A_smiling_young_woman_writing_a_letter_at_her_desk._03b6cab0-c5ac-4e35-b76b-b324038d7827.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 424px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 424px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-1 .u-group-elements-1 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    font-weight: normal;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
    font-weight: normal;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.125rem;
    font-weight: normal;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 356px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-right: 120px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 120px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 55px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 130px;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    font-weight: 600;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 1rem;
    margin-top: 1px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: -1px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: 59px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    font-weight: 600;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    font-weight: 600;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 250px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 541px;
  }

  .u-section-1 .u-image-1 {
    min-height: 386px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 547px;
  }

  .u-section-1 .u-image-1 {
    min-height: 228px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 760px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
  margin: 100px auto 0;
}

.u-section-2 .u-form-1 {
  height: 472px;
  width: 850px;
  --checkbox-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fcf7f0' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  margin: 30px auto 60px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
  margin-top: auto !important;
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 621px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 100px 0 100px auto;
}

.u-section-3 .u-image-1 {
  min-height: 431px;
  background-image: url("images/brett-jordan-NBMdqEviK_c-unsplashLarge.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 431px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 58px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 0.833333rem;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 355px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-3 .u-btn-1 {
    --radius: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 272px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 408px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 257px;
  }
}