.u-section-1 .u-sheet-1 {
  min-height: 837px;
}

.u-section-1 .u-product-1 {
  min-height: 637px;
  margin-top: 100px;
  margin-bottom: -128px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-gallery-1 {
  width: 540px;
  height: 637px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding: 10px 0 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
  box-shadow: 1px 12px 25px 0px rgba(128,128,128,0.7);
  text-shadow: 0 0 12px rgba(0,0,0,0);
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  top: auto;
  right: auto;
  bottom: 110px;
  padding: 8px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: auto;
  right: 0;
  bottom: 110px;
  padding: 8px;
}

.u-section-1 .u-text-1 {
  font-size: 0.888889rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -637px 60px 0 1321px;
  padding: 3px 0;
}

.u-section-1 .u-breadcrumbs-1 {
  margin: -31px auto 0 628px;
  padding: 10px;
}

.u-section-1 .u-text-2 {
  margin: 8px 30px 0 628px;
}

.u-section-1 .u-product-price-1 {
  margin: -56px 60px 0 auto;
}

.u-section-1 .u-product-quantity-1 {
  width: 128px;
  margin: 33px auto 0 628px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 600;
  text-transform: none;
  margin: -38px 60px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -52px 504px 0 786px;
  padding: 0;
}

.u-section-1 .u-product-variations-1 {
  width: 752px;
  margin: 36px 60px 0 auto;
}

.u-section-1 .u-tabs-1 {
  min-height: 313px;
  width: 752px;
  height: auto;
  margin: 30px 60px 0 auto;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
  --radius: 5px;
  padding: 10px 0;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
  --radius: 5px;
  padding: 10px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 20px 20px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-product-1 {
    min-height: 638px;
  }

  .u-section-1 .u-gallery-1 {
    width: 475px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 965px;
  }

  .u-section-1 .u-breadcrumbs-1 {
    width: auto;
    margin-right: 256px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 84px;
    margin-left: 505px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: -48px;
    margin-right: 0;
  }

  .u-section-1 .u-product-quantity-1 {
    margin-top: 40px;
    margin-right: 391px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -45px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -42px;
    margin-right: 226px;
    margin-left: 648px;
  }

  .u-section-1 .u-product-variations-1 {
    width: 459px;
    margin-top: 25px;
  }

  .u-section-1 .u-tabs-1 {
    width: 519px;
    margin-top: 31px;
    margin-right: 0;
  }

  .u-section-1 .u-tab-link-1 {
    border-style: solid;
  }

  .u-section-1 .u-tab-link-2 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1356px;
  }

  .u-section-1 .u-product-1 {
    margin-top: 50px;
    margin-bottom: 9px;
    min-height: 1256px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 590px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -1093px;
    margin-left: 661px;
  }

  .u-section-1 .u-breadcrumbs-1 {
    margin-top: -165px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-right: 285px;
    margin-left: 0;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: -59px;
  }

  .u-section-1 .u-product-quantity-1 {
    margin-top: 30px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 43px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -130px;
    margin-right: 428px;
    margin-left: 143px;
  }

  .u-section-1 .u-product-variations-1 {
    width: 360px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 251px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 481px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 105px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: -49px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 51px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -138px;
    margin-right: 248px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1312px;
  }

  .u-section-1 .u-product-1 {
    margin-bottom: 16px;
    min-height: 1212px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 28px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 547px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1074px;
    margin-left: 281px;
  }

  .u-section-1 .u-breadcrumbs-1 {
    margin-top: -141px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 68px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: -37px;
  }

  .u-section-1 .u-product-quantity-1 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 49px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -134px;
    margin-right: 79px;
    margin-left: 148px;
  }

  .u-section-1 .u-product-variations-1 {
    width: 170px;
    margin-top: 26px;
  }
}